#home-page-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 60px;
	align-items: center;
	justify-content: start;
	padding-left: 40px;
	min-height: 80vh;
}

#left-column {
	background-color: #343434;
	padding: 1dvi;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

#name-box {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

#name-row {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

#first-name {
	margin: 0;
	font-size: 3rem;
}

#major {
	margin: 0;
	font-size: 0.9rem;
	line-height: 1.2;
	max-width: 220px;
}

#last-name {
	margin: 0;
	font-size: 3rem;
}

#pic-text-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	column-gap: 16px;
	max-width: 500px;
}

#leia {
	border: 2px solid black;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
}

#leia img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#leia-text {
	font-size: 0.75rem;
	max-width: 300px;
	font-style: italic;
}

#about {
	background-color: #343434;
	padding: 1dvi;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	max-width: 400px;
}

#footer-wrapper {
	position: absolute;
	left: 74.5%;
	top: 95%;
	width: 25%;
	height: fit-content;
	text-align: right;
}

#page {
	padding: 40px;
}

#left-sidebar {
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(0%, -50%);
}

#right-sidebar {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(0%, -50%);
}
